<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>{{ title }} - The Mirror's Edge Archive &#x1F4C2;</title>
  <meta name="robots" content="index, follow">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="{{ description }}">
  <link rel="license" href="https://github.com/Sidewinder53/mirrorsedgearchive/blob/master/LICENSE">
  <meta property="og:title" content="{{ title }} - The Mirror's Edge Archive &#x1F4C2;">
  <meta property="og:image" content="https://mirrorsedgearchive.de/assets/media/image/og/generic.jpg">
  <meta property="og:description" content="{{ description }}" />
  <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
  <link rel="icon" type="image/png" href="/favicon.png">
  <!-- {( baseBundleCSS )} -->
  <link rel="stylesheet" type="text/css" href="/assets/css/index.css">
</head>

<body>
  {% block content %}
  {% endblock %}

  <!-- {( baseBundleJS )} -->
  <script src="/assets/js/index.js" defer></script>
</body>

</html>
