{% set pageInfo = {
  name: 'development_vs_release',
  category: 'projects',
  title: 'Development vs. Release',
  description: "A comparison of how Mirror's Edge looked during development vs. today",
  reqScripts: [ 'assets/vendor/img-slider/imgslider.min.js', 'assets/js/development_vs_release.js' ],
  reqStylesheets: [ 'assets/vendor/img-slider/imgslider.min.css', 'assets/css/development_vs_release.css' ]
}%}

{% extends "_layout.njk" %}

{% block content %}
  <div class="container" id="content">
    <div id="cookie_consent_placeholder"></div>
    <div class="card">
      <div class="card-header">Development vs. Release</div>
      <div class="card-body">
        <p class="card-text">
          Click anywhere in the pictures to drag the slider. The image on the left is from a development blog
          <a href="/out/?t=http://area.autodesk.com/customer-stories/mirror039s-edge-catalyst-shattering-the-norm">article</a>,
          while the image on the right is from the final game. Without the
          <a href="http://waifu2x.udp.jp/">waifu2x project</a> we could not have finished this project, check them out!
        </p>
      </div>
    </div>

    <div class="card">
      <div class="card-header">
        Triumvirate Drive #1
      </div>
      <div class="slider responsive card-img-top">
        <div class="left image">
          <img loading="lazy" src="/assets/media/image/development_vs_release/triumvirate_1_old.png" />
        </div>
        <div class="right image">
          <img loading="lazy" src="/assets/media/image/development_vs_release/triumvirate_1.png" />
        </div>
      </div>
    </div>

    <div class="card">
      <div class="card-header">
        Triumvirate Drive #2
      </div>
      <div class="slider responsive card-img-top">
        <div class="left image">
          <img loading="lazy" src="/assets/media/image/development_vs_release/triumvirate_2_old.png" />
        </div>
        <div class="right image">
          <img loading="lazy" src="/assets/media/image/development_vs_release/triumvirate_2.png" />
        </div>
      </div>
    </div>

    <div class="card">
      <div class="card-header">
        Concord Plaza/Centurian Yards
      </div>
      <div class="slider responsive card-img-top">
        <div class="left image">
          <img loading="lazy" src="/assets/media/image/development_vs_release/concord_1_old.png" />
        </div>
        <div class="right image">
          <img loading="lazy" src="/assets/media/image/development_vs_release/concord_1.png" />
        </div>
      </div>
    </div>

    <div class="card">
      <div class="card-header">
        Shimmering Heights
      </div>
      <div class="slider responsive card-img-top">
        <div class="left image">
          <img loading="lazy" src="/assets/media/image/development_vs_release/shimmering_1_old.png" />
        </div>
        <div class="right image">
          <img loading="lazy" src="/assets/media/image/development_vs_release/shimmering_1.png" />
        </div>
      </div>
    </div>

    <div class="card">
      <div class="card-header">
        Crystal Valley #1
      </div>
      <div class="slider responsive card-img-top">
        <div class="left image">
          <img loading="lazy" src="/assets/media/image/development_vs_release/crystal_1_old.png" />
        </div>
        <div class="right image">
          <img loading="lazy" src="/assets/media/image/development_vs_release/crystal_1.png" />
        </div>
      </div>
    </div>

    <div class="card">
      <div class="card-header">
        Crystal Valley #2
      </div>
      <div class="slider responsive card-img-top">
        <div class="left image">
          <img loading="lazy" src="/assets/media/image/development_vs_release/crystal_2_old.png" />
        </div>
        <div class="right image">
          <img loading="lazy" src="/assets/media/image/development_vs_release/crystal_2.png" />
        </div>
      </div>
    </div>

    <div class="card">
      <div class="card-header">
        Regatta Bay #1 (Concept art vs ingame)
      </div>
      <div class="slider responsive card-img-top">
        <div class="left image">
          <img loading="lazy" src="/assets/media/image/development_vs_release/regatta_1_old.png" />
        </div>
        <div class="right image">
          <img loading="lazy" src="/assets/media/image/development_vs_release/regatta_1.png" />
        </div>
      </div>
    </div>

    <div class="card">
      <div class="card-header">
        Regatta Bay #2
      </div>
      <div class="slider responsive card-img-top">
        <div class="left image">
          <img loading="lazy" src="/assets/media/image/development_vs_release/regatta_2_old.png" />
        </div>
        <div class="right image">
          <img loading="lazy" src="/assets/media/image/development_vs_release/regatta_2.png" />
        </div>
      </div>
    </div>

    <div class="card">
      <div class="card-header">
        Regatta Bay #3
      </div>
      <div class="slider responsive card-img-top">
        <div class="left image">
          <img loading="lazy" src="/assets/media/image/development_vs_release/regatta_3_old.png" />
        </div>
        <div class="right image">
          <img loading="lazy" src="/assets/media/image/development_vs_release/regatta_3.png" />
        </div>
      </div>
    </div>

  </div>
{% endblock %}
