.team-member {
	margin: 1rem 0;
}

.team-member > .media > picture > img {
	border-radius: 50%;
	width: 64px;
}

.team-member > .media > .media-body > div {
	min-height: 90px;
}

.member-title {
	margin-top: 0;
	margin-bottom: 0;
}

.member-subtitle {
	margin-bottom: 1rem;
}

.member-description {
	margin-top: 1rem;
}
