#content {
	margin-top: 4vh;
	margin-bottom: 4vh;
}

.card {
	margin-bottom: 2vh;
}

.card-img-top {
	animation-name: main;
	animation-duration: 1.0s;
}

@keyframes main {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}		
}
}