.alert {
	margin-top: 1.5vh;
}

#main {
	margin: 1em;
}

.btn-dl {
	margin: 0em 0.25em;
}

.card-img-top > img {
	width: 100%;
}

.image-wrapper {
	display: block;
	max-width: 100%;
	position: relative;
}

.image-wrapper::before {
	content: '';
	background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 300 200'%3E%3Cpath d='M112.1,71.2s.3,6.5,20.1,26.3l-6.5,14.2,17.5-5.1,9.3,24.5,10.2-25.7H186S176.7,93,155.1,87.8s-33.3-8.2-43-16.6m75.8,30.1V57.2H117v4.3c6.3,6.6,12.3,12.8,39,21.4,22,7.1,29.5,15,31.9,18.4M117,142.8h70.9V109.1H165.6l-13.3,32.2-13.3-25-22.1,15.1v11.4Z' opacity='0.5' fill='%23cd2027'/%3E%3C/svg%3E");
	display: block;
	padding-top: 56.25%;
}

.image-wrapper img {
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	position: absolute;
}

#buttons {
	margin-top: 13.5em;
}

.row {
	margin-top: 1em;
}

@media (max-width: 576px) { 
	#main {
		margin: 0.5em;
	}

	.card {
		margin-top: 1em;
	}

	.col-sm-12 {
		padding-left: 5px!important;
		padding-right: 5px!important;
	}
}