#content {
	margin-top: 4vh;
	margin-bottom: 4vh;
}

#media_copyright {
	line-height: 0px;
	text-align: right;
	color: #8c8c8c;
	background-color: unset;
	border: none;
}

#media_copyright a:link {
	color: #4c4c4c;
}

#hero_text {
	padding-top: 0.5rem;
}

img {
	width: 100%;
	height: auto;
}


#overview, #hero_text, #media_copyright, .navbar {
	opacity: 0;
}

.card {
	border-width: 0px;
	margin-bottom: 2vh;
}

#hero {
	animation-name: main;
	animation-duration: 0.5s;
}

@keyframes main {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}		
}
}