#responsiveHero {
	line-height: 0;
	width: 100%;
	height: 37.5%;
}

#faithHero {
	display: none;
}

.image-wrapper {
	display: block;
	max-width: 100%;
	position: relative;
}

.image-wrapper::before {
	content: '';
	background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 300 200'%3E%3Cpath d='M112.1,71.2s.3,6.5,20.1,26.3l-6.5,14.2,17.5-5.1,9.3,24.5,10.2-25.7H186S176.7,93,155.1,87.8s-33.3-8.2-43-16.6m75.8,30.1V57.2H117v4.3c6.3,6.6,12.3,12.8,39,21.4,22,7.1,29.5,15,31.9,18.4M117,142.8h70.9V109.1H165.6l-13.3,32.2-13.3-25-22.1,15.1v11.4Z' opacity='0.5' fill='%23cd2027'/%3E%3C/svg%3E");
	display: block;
	padding-top: 66.67%;
}

.image-wrapper img {
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	position: absolute;
}

#content {
	margin-top: 1em;
	margin-bottom: 1em;
}

.card-group {
	margin-bottom: 1em;
}

#media_copyright {
	font-size: 10pt;
	line-height: 0px;
	text-align: right;
	background-color: unset;
	position: absolute;
	bottom: -24px;
	right: 0;
	color: #bbbbbb;
}

#media_copyright a:link, #media_copyright a:visited {
	color: #9e9e9e;
}

#her_slides {
	position: relative;
}

img {
	width: 100%;
	height: auto;
}

#hero_text {
	padding-bottom: 1em;
}

#overview, #hero_text, #media_copyright, .navbar, #cookie_consent {
	opacity: 0;
}


.card {
	border-width: 0px;
	margin-bottom: 1em;
}

#hero {
	animation-name: main;
	animation-duration: 0.5s;
	background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 300 200'%3E%3Cpath d='M112.1,71.2s.3,6.5,20.1,26.3l-6.5,14.2,17.5-5.1,9.3,24.5,10.2-25.7H186S176.7,93,155.1,87.8s-33.3-8.2-43-16.6m75.8,30.1V57.2H117v4.3c6.3,6.6,12.3,12.8,39,21.4,22,7.1,29.5,15,31.9,18.4M117,142.8h70.9V109.1H165.6l-13.3,32.2-13.3-25-22.1,15.1v11.4Z' opacity='0.5' fill='%23cd2027'/%3E%3C/svg%3E");
	background-repeat: no-repeat;
	background-position: center;
}

@media (max-width: 768px) { 
	#responsiveHero { display: none; } 
	#faithHero{ 
		display: block;
		margin: 0;
		color: #ffffff;
		position: relative;
		animation-name: main;
		animation-duration: 1s;
		overflow: hidden;
		z-index: 0; 
	}
	#faithHeroText {
		position: absolute;
		width: 100%;
		height: 3em;
		bottom: 0;
		background-color: rgba(0, 0, 0, 0.8);
		transition: all 0.5s ease-in;
	}
	#faithHeroText > h1 {
		margin-left: 15px;
		animation-name: slideIn;
		animation-duration: 1s;
		overflow: hidden;
		margin-bottom: 0;
		font-size: 2.5rem;
	}
	#faithHeroText > p {
		margin-left: 15px;
		font-size: 1.15rem;
	}
	#hero_text > h1 {
		font-size: 2rem;
	}
}

@keyframes slideIn { 0% { transform: translateX(-100%); } 100% { transform: translateX(0%); } }
@keyframes grow { 0% { transform: translateX(-100%); } 100% { transform: translateX(0%); } }
@keyframes main { 0% { transform: scale(0.8); opacity: 0; } 100% { transform: scale(1); opacity: 1; } }