
<!DOCTYPE html>
<html>
<head>
	<script async src="https://www.googletagmanager.com/gtag/js?id=UA-111731968-1"></script>
	<script>window.dataLayer = window.dataLayer || []; function gtag(){dataLayer.push(arguments);}gtag('js', new Date());gtag('config', 'UA-111731968-1');</script>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<title>The (unofficial) Mirror's Edge Archive</title>
	<meta name="description" content="A collection of Mirror's Edge related media, code and fan projects." />
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha256-LA89z+k9fjgMKQ/kq4OO2Mrf8VltYml/VES+Rg0fh20=" crossorigin="anonymous" />
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js" integrity="sha384-xBuQ/xzmlsLoJpyjoggmTEz8OWUFM0/RC5BsqQBDX2v5cMvDHcMakNTNrHIW2I5f" crossorigin="anonymous"></script>
	<style>
		body { background-color: #000000; width: 100%; height: 100%; margin: 0; overflow: hidden;}
		#main { margin: 2em; color: #000000; top: 25%; bottom: 0; opacity: 0.8; background-color: #ffffff; display: inline-block; padding: 2em;}
		img { width: 100%; top: 56px; position: absolute; z-index: -9999;}
	</style>
</head>

<body>
	<nav class="navbar navbar-dark bg-dark"><div class="container"><a class="navbar-brand" href="/">The Mirror's Edge Archive</a></div></nav>
	<picture>
		<source srcset="/resources/img/error/shard_post_attack.webp" type="image/webp">
		<img src="/resources/img/error/shard_post_attack.jpg">
	</picture>
	<div id="main">
        <h1>500</h1>
		<h3>Don't panic.</h3>
		<small>This is a server error which we can fix, if you <a href="mailto:webmaster@mirrorsedgearchive.de">tell us about it</a>.</small>
    </div>

</body>
</html>