<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>The (unofficial) Mirror's Edge Archive</title>
	<style>
		body { font-family: sans-serif; }
	</style>
</head>
<h1>The Mirror's Edge Archive is currently undergoing emergency maintenance.</h1>
<p>As soon as we have new information on this matter we will provide status updates on this page. We apologize for the inconvenience.</p>

<h4>Status updates</h4>
<table>
	<tr>
		<td><small>Jan 1, 14:00 CET</small></td>
		<td><strong>Identified</strong> - The issue has been identified and a fix has been implemented. The website will be back up shortly.</td>
	</tr>
	<tr>
		<td><small>Jan 1, 14:00 CET</small></td>
		<td><strong>Update</strong> - We have detected an issue with our hosting provider and are working on implementing a solution.</td>
	</tr>
	<tr>
		<td><small>Jan 1, 12:00 CET</small></td>
		<td><strong>Investigating</strong> - The Mirror's Edge Archive Team is investigating server issues.</td>
	</tr>
</table>

<p>Contact: <a href="http://www.google.com/recaptcha/mailhide/d?k=01quWJ7YDnMBxAGvoRmAz-Zw==&amp;c=bYUP9vfy8crR93DWX0_1Ou63GtMRDcxwUNjnswy_1h4=" onclick="window.open('http://www.google.com/recaptcha/mailhide/d?k\x3d01quWJ7YDnMBxAGvoRmAz-Zw\x3d\x3d\x26c\x3dbYUP9vfy8crR93DWX0_1Ou63GtMRDcxwUNjnswy_1h4\x3d', '', 'toolbar=0,scrollbars=0,location=0,statusbar=0,menubar=0,resizable=0,width=500,height=300'); return false;" title="Reveal this e-mail address">w...</a>@mirrorsedgearchive.de</p>