<!DOCTYPE html>
<html>
<head>
	<script async src="https://www.googletagmanager.com/gtag/js?id=UA-111731968-1"></script>
	<script>window.dataLayer = window.dataLayer || []; function gtag(){dataLayer.push(arguments);}gtag('js', new Date());gtag('config', 'UA-111731968-1');</script>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<title>The (unofficial) Mirror's Edge Archive</title>
	<meta name="description" content="A collection of Mirror's Edge related media, code and fan projects." />
	<link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zug+QiDoJOrZ5t4lssLdxGhVrurbmBWopoEl+M6BdEfwnCJZtKxi1KgxUyJq13dy" crossorigin="anonymous">
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js" integrity="sha384-xBuQ/xzmlsLoJpyjoggmTEz8OWUFM0/RC5BsqQBDX2v5cMvDHcMakNTNrHIW2I5f" crossorigin="anonymous"></script>
	<style>
		body { background-image: url("https://vgy.me/WpX5L0.png"); background-repeat: no-repeat; background-size: cover; width: 100%; height: 100%; margin: 0;}
		.alert { margin-top: 2em; }
		.status_heading { margin-top: 1em; }
	</style>
</head>

<body>
	
	<nav class="navbar navbar-dark bg-dark"><div class="container"><a class="navbar-brand" href="#">The Mirror's Edge Archive</a><ul class="nav navbar-nav ml-auto justify-content-end"><li class="nav-item"><a class="nav-link" href="#" data-toggle="modal" data-target="#contactmodal">Contact</a></li></ul></div></nav>

	<div class="container" id="content">
		<div class="alert alert-light" role="alert">
			<h4 class="alert-heading"><svg style="width: 20px; height: 20px;" viewBox="0 0 24 24"><path fill="rgb(129,129,130)" d="M4,1H20A1,1 0 0,1 21,2V6A1,1 0 0,1 20,7H8.82L6.82,5H7V3H5V3.18L3.21,1.39C3.39,1.15 3.68,1 4,1M22,22.72L20.73,24L19.73,23H4A1,1 0 0,1 3,22V18A1,1 0 0,1 4,17H13.73L11.73,15H4A1,1 0 0,1 3,14V10A1,1 0 0,1 4,9H5.73L3.68,6.95C3.38,6.85 3.15,6.62 3.05,6.32L1,4.27L2.28,3L22,22.72M20,9A1,1 0 0,1 21,10V14A1,1 0 0,1 20,15H16.82L10.82,9H20M20,17A1,1 0 0,1 21,18V19.18L18.82,17H20M9,5H10V3H9V5M9,13H9.73L9,12.27V13M9,21H10V19H9V21M5,11V13H7V11H5M5,19V21H7V19H5Z" /></svg>&nbsp;Emergency maintenance</h4>
			The Mirror's Edge Archive is currently undergoing emergency maintenance. As soon as we have new information on this matter we will provide status updates on this page. We apologize for the inconvenience.
			<h4 class="status_heading">Status updates</h4>
			<table class="table table-hover">
				<tr>
					<td class="col-"><small>Jan 1, 14:00 CET</small></td>
					<td><strong>Identified</strong> - The issue has been identified and a fix has been implemented. The website will be back up shortly.</td>
				</tr>
				<tr>
					<td class="col-"><small>Jan 1, 14:00 CET</small></td>
					<td><strong>Update</strong> - We have detected an issue with our hosting provider and are working on implementing a solution.</td>
				</tr>
				<tr>
					<td class="col-"><small>Jan 1, 12:00 CET</small></td>
					<td><strong>Investigating</strong> - The Mirror's Edge Archive Team is investigating server issues.</td>
				</tr>
			</table>
		</div>
	</div>

	<div class="modal fade" id="contactmodal" tabindex="-1" role="dialog" aria-labelledby="ContactModalLabel" aria-hidden="true"><div class="modal-dialog" role="document"><div class="modal-content"><div class="modal-header"><h5 class="modal-title" id="ContactModalLabel">Contact</h5><button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button></div><div class="modal-body">General inquires should be sent to this email address:<br><br><div style="text-align: center"><a href="mailto:webmaster@mirrorsedgearchive.de">webmaster@mirrorsedgearchive.de</a></div></div><div class="modal-footer"><button type="button" class="btn btn-secondary" data-dismiss="modal">Got it!</button></div></div></div></div>

	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js" integrity="sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4" crossorigin="anonymous"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/js/bootstrap.min.js" integrity="sha384-h0AbiXch4ZDo7tp9hKZ4TsHbi047NrKGLO3SEJAg45jXxnGIfYzk4Si90RDIqNm1" crossorigin="anonymous"></script>
	<script async src='https://www.google-analytics.com/analytics.js'></script>
	<script>window.ga=window.ga||function(){(ga.q=ga.q||[]).push(arguments)};ga.l=+new Date; ga('create', 'UA-90834610-1', 'auto'); ga('send', 'pageview');</script>

</body>
</html>