#content {
  margin-top: 2em;
}

#header {
  margin-bottom: 1em;
}

#article-list,
#legal_footer {
  display: none;
}

.article-link {
  cursor: pointer;
}

.modal-backdrop.show {
  opacity: 0.85 !important;
}

.fade {
  transition: opacity 0.25s linear;
}

#article-modal > div > div > .modal-body {
  padding: 0;
}

#article-iframe {
  width: 80%;
  height: 80vh;
}
