#vidPlayer {
  display: none;
}

#vidContainer {
  background-image: url('https://video-assets.mirrorsedgearchive.de/beta/billboard/static.jpg');
  background-size: cover;
}

#vidIntro {
  z-index: 10;
  position: absolute;
  padding-top: 2em;
  width: 100%;
}

#mainDiv {
  position: relative;
}

#vidSel > ul > li > a {
  border-radius: 0;
}

#vidNav {
  display: none;
  top: 0;
  left: -305px;
  width: 300px;
  position: absolute;
}

#vidSel {
  position: absolute;
  top: 0;
  right: -245px;
  width: 240px;
  display: inline-block;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

#vidTypeSel {
  flex-direction: row;
  border-bottom: 1px solid rgba(0, 0, 0, 0.125);
}

.nav-link.active.show > svg > path {
  fill: #fff;
}

#castList,
#horExtrasList,
#verExtrasList {
  width: 100%;
  display: inline-block;
  max-height: 490px;
  overflow-y: auto;
}

#horExtrasTab,
#verExtrasTab {
  padding: 0.45em;
}

.embed-responsive-2by1::before {
  padding-top: 50% !important;
}

.list-group-item.category {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' style='width:24px;height:24px' viewBox='0 0 24 24'%3E%3Cpath fill='%23007bff' d='M7.41,8.58L12,13.17L16.59,8.58L18,10L12,16L6,10L7.41,8.58Z' /%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-color: rgba(0, 0, 0, 0.01);
  background-size: 20px;
  background-position: center left;
  padding-left: 20px;
  padding-bottom: 5px;
  padding-top: 5px;
  z-index: 1;
  transition: background-image 0.1s ease-in-out;
  cursor: pointer;
}

#vidDesc {
  margin-bottom: 0;
}

.list-group-item.video:focus,
.list-group-item.video:hover {
  z-index: auto;
}

.list-group-item.category.collapsed {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath fill='%236c757d' d='M8.59,16.58L13.17,12L8.59,7.41L10,6L16,12L10,18L8.59,16.58Z' /%3E%3C/svg%3E");
  background-repeat: no-repeat;
}

#vidFooter,
#vidMeta {
  display: none;
}

#vidFooter {
  border: none;
}

.video {
  padding-bottom: 3px;
  padding-top: 3px;
  cursor: pointer;
}

#subToggle {
  display: none;
}

@media only screen and (max-width: 1800px) {
  #vidNav {
    width: 250px;
    left: -255px;
  }
}

@media only screen and (max-width: 1650px) {
  #vidContainer {
    width: 100%;
  }
  #vidSel {
    position: static;
    margin: 1em 0;
    width: 100%;
  }

  #vidNav {
    position: static;
    margin: 1em 0 0.5em 0;
    width: 100% !important;
  }
}
