<!DOCTYPE html>
<html>
<head>
	<script async src="https://www.googletagmanager.com/gtag/js?id=UA-111731968-1"></script>
	<script>window.dataLayer = window.dataLayer || []; function gtag(){dataLayer.push(arguments);}gtag('js', new Date());gtag('config', 'UA-111731968-1');</script>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<title>The (unofficial) Mirror's Edge Archive</title>
	<meta name="description" content="A collection of Mirror's Edge related media, code and fan projects." />
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha256-LA89z+k9fjgMKQ/kq4OO2Mrf8VltYml/VES+Rg0fh20=" crossorigin="anonymous" />
	<style>
		body { background-image: url("bg.jpg"); background-repeat: no-repeat; background-size:cover; background-color: #000000; width: 100%; height: 100%; margin: 0;}
		.alert { margin-top: 2em; }
		.status_heading { margin-top: 1em; }
	</style>
</head>

<body>
	
	<nav class="navbar navbar-dark bg-dark"><div class="container"><a class="navbar-brand" href="#">The Mirror's Edge Archive Operations</a></div></nav>

	<div class="container" id="content">
		<div class="alert alert-light" role="alert">
			This is The Mirror's Edge Archive sub-site for internal operations.<br>
			As there is no public content to be found here, we ask you to return to our homepage.
		</div>
		<a href="https://mirrorsedgearchive.de" type="button" class="btn btn-primary btn-lg btn-block">Back to the The Mirror's Edge Archive</a>
	</div>

	<script async src='https://www.google-analytics.com/analytics.js'></script>
	<script>window.ga=window.ga||function(){(ga.q=ga.q||[]).push(arguments)};ga.l=+new Date; ga('create', 'UA-90834610-1', 'auto'); ga('send', 'pageview');</script>

</body>
</html>